/* Error: Undefined mixin.
 *    ,
 * 12 | /   @include mq (medium) {
 * 13 | |     max-width: 1400px;
 * 14 | |     display: block;
 * 15 | |     margin-left: auto;
 * 16 | |     margin-right: auto;
 * 17 | \   }
 *    '
 *   scss/components/_grid.scss 12:3  @import
 *   scss/components/_index.scss 6:9  @import
 *   scss/styles.scss 9:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 12 \2502  \250c    @include mq (medium) {\a 13 \2502  \2502      max-width: 1400px;\a 14 \2502  \2502      display: block;\a 15 \2502  \2502      margin-left: auto;\a 16 \2502  \2502      margin-right: auto;\a 17 \2502  \2514    }\a    \2575 \a   scss/components/_grid.scss 12:3  @import\a   scss/components/_index.scss 6:9  @import\a   scss/styles.scss 9:9             root stylesheet";
}
