// **************************************
// utilities/_mixins.scss
// Mixins
// **************************************

// Text
@mixin text($size, $weight, $color, $line-height) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    line-height: $line-height;
}

// Media query
@mixin media-query($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}
// Generate modifier color classes

