// **************************************
// utilities/_placeholders.scss
// Placeholders
// **************************************

/* -------------------------
Links
------------------------- */
%link {
    @include text($size: 1.1rem, $weight: 700, $color: $black, $line-height: 1.7rem);
}

/* -------------------------
Images
------------------------- */
%img {
    display: block;
    margin: 20px auto;
}

/* -------------------------
Nav items
------------------------- */
%nav {
    display: flex;
    flex-direction: column;
}

%nav__item {
    @include text($size: 1rem, $weight: 400, $color: $nav-inactive-text-color, $line-height: null);
    text-align: center;
    padding: 15px 0;
    margin: 5px 0;
}

%grid-col-display {
    @include text($size: 1rem, $weight: 400, $color: $black, $line-height: null);
    padding: 12px;
    border-radius: 6px;
}