// **************************************
// components/_typography.scss
// Typography section styles
// **************************************

// .container {
//     font-family: $Lora;
// }

* {
    font-family: $Lato;
    @include body-copy;
}

.headline--primary {
    padding-left: 15px;
    margin-bottom: 1em;
}

*.headline--primary {
    @include headline--primary;
}

.headline--secondary {
    margin-left: .5rem;
    font-size: 1em;
    font-weight: $light-font;
}

*.headline--secondary {
    @include h4;
}

//  Links

.link {
  font-size: 1em;
  font-weight: $mid-font;
  color: $link-color;
  text-decoration: none;
}

//  Blockquote

.blockquote {
    @include quote;
}

.card {
    text-align: left;
}

.card p {
    @include body-copy;
}

#images {
    padding-left: 10px;
}

#buttons {
    padding-left: 10px;
}

#grid {
    padding-left: 10px;
}